.app1 {
    font-family: sans-serif;
    text-align: center;
}

.seat {
    background-color: #c05656 !important;
    color: rgb(224, 39, 39);
}


.seat--reserved {
    background-color: gray !important;
}

.seat--selected {
    background-color: rgb(48, 106, 65) !important;
}

.seat-picker {
    margin: auto;
    /* background-color: #9b57577a; */
}


div.blank {
    display: none;
}

.screen {
    background-color: black;
    color: wheat;
    width: 80%;
    margin: 10%;
}

.seat-select {
    margin: 10%;
    background-color: rgba(238, 173, 173, 0.234);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seat-select>h1 {
    font-size: 20px;
    margin-left: 20px;
}


.ReserveButtonFan {
    border-color: rgba(91, 26, 26, 0.747);
    color: rgba(91, 26, 26, 0.747);
    margin-right: 3px;
    margin-left: auto;
}

.ReserveButtonFan:hover {
    background-color: rgba(91, 26, 26, 0.747);
    color: white;
}