.app1 {
    font-family: sans-serif;
    text-align: center;
}

.seat {
    background-color: #c05656 !important;
    color: rgb(224, 39, 39);
}


.seat--reserved {
    background-color: gray !important;
}

.seat--selected {
    background-color: rgb(48, 106, 65) !important;
}

.seat-picker {
    margin: auto;
    /* background-color: #9b57577a; */
}


div.blank {
    display: none;
}

.screen {
    background-color: black;
    color: wheat;
    width: 80%;
    margin: 10%;
}

.seat-select {
    margin: 10%;
    background-color: rgb(212, 74, 212);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seat-select>h1 {
    font-size: 20px;
    margin-left: 20px;
}