.TaskAdmin {

    /* border-left: 5px solid rgba(91, 26, 26, 0.747); */
    margin-left: 3%;
    margin-top: 1%;
}

.TaskContent {
    display: flex;
    background-color: rgba(255, 181, 181, 0.112);
    margin-left: 3%;
    border-radius: 3px;
}

.UserInfoAdmin {
    align-self: start;
    width: 60%;
}

.buttonsAdmins {

    margin-left: auto;
    margin-top: 2%;

}

.AcceptButtonAdmin {
    border-color: #355a4a;
    color: #355a4a;
    margin-right: 3px;
}

.AcceptButtonAdmin:hover {
    background-color: #355a4a;
    color: white;
}

.DeclineButtonAdmin {
    border-color: rgb(91, 26, 26);

    color: rgb(91, 26, 26);
}

.DeclineButtonAdmin:hover {
    background-color: rgb(91, 26, 26);
    color: white;
}


.userNameAdmin {
    font-family: 'Work Sans', sans-serif;
    color: rgb(97, 53, 53);
    background-color: rgba(238, 173, 173, 0.234);
    border-left: 5px solid rgba(215, 123, 123, 0.635);
    border-radius: 3px;
}


.userNameAdmin:hover,
.userNameAdminActive {
    font-family: 'Work Sans', sans-serif;
    color: rgb(91, 26, 26);
    border-left: 5px solid rgba(91, 26, 26, 0.747);
    border-radius: 3px;
    background-color: rgba(151, 35, 35, 0.323);


    font-weight: 700;
}

.nameAdmin {
    margin-top: 5px;
    margin-left: 2%;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    color: rgb(91, 26, 26);
}

.otherInfoAdmin {
    margin-top: 5px;
    margin-left: 2%;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    /* font-size: small; */
    color: rgb(91, 26, 26);
}