.startContainer {
    background-image: url('../images/FIFA.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100% 110%;
    margin: auto auto auto auto;
    width: 100%;
    position: relative;
    height: 690px;
    display: grid;
    align-content: flex-start;
}


.navbar {

    /* background-color: aquamarine; */
    color: azure;
    display: inline-block;
    text-align: end;
    padding-right: 10px;
    margin-left: auto;

}

.mainpageButton {
    background-color: transparent;
    border: none;
    color: rgba(174, 174, 174, 0.945);
    font-size: 1 rem;
    font-weight: normal;
    outline: none;
    cursor: pointer;
}

.loginbtn {
    margin: 4px;
    float: right;
}

.signupbtn {
    margin: 4px;
    float: right;
}

.mainpageButton:hover {
    color: white;
}