.manger{
    padding-right: 0px;
        background-color: rgba(247, 231, 231, 0.591);
        height: 200vh;

}

.left-cont{
    height: 100vh;
}
.right-cont {
    height: 100vh;
    /* width: 100vw; */
    padding-right: 0px;
    padding-left: 0px;

}
.img-fifa-manger{
    height: 100vh;
}

.mangerButtons {
  background-color: transparent;
  border: 1px solid rgb(91, 26, 26);
  box-sizing: border-box;
  color: rgb(91, 26, 26);
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  margin-top: 5%;
  margin-left: 5%;
  width: 50%;
}

.mangerButtons:hover,
.mangerButtons:active {
  outline: 0;
}

.mangerButtons:hover {
  background-color: transparent;
  cursor: pointer;
}

.mangerButtons:before {
  background-color:rgb(156, 13, 13);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.mangerButtons:hover:before {
  background-color: rgb(91, 26, 26);
}

@media (min-width: 768px) {
  .mangerButtons {
    padding: 16px 32px;
  }
}